#nav
{
position:absolute;
border:2px solid black;
width:99%;
height:7%;
}

ul
{
width:90%;

list-style-type:none;

}

li a
{
float:left;
padding:1%;
text-decoration:none;
display:block;
color:black;
}
#mav
{
position:absolute;
top:2%;
left:60%;
border-radius:50%;
border-color:red;

width:2%;
height:7%;
}
#se
{
position:absolute;

top:30%;
left:5%;
width:50%;
border:1px;
}
p
{
font-size:100%;
font-family:Copperplate Gothic;
text-align:left;
color:black;
padding:4px;
;
}
img#s1
{
width:100%;
height:100%;
}